body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 0.35fr 3.0fr  0.25fr;
    grid-template-areas:
      "nav nav nav nav nav"
      "main main main main main"
      "footer footer footer footer footer";
    /* grid-gap: 0.5rem; */
}

nav {
    grid-area: nav;
    background-color:aquamarine;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

#pages {
    display: flex;
    justify-content: space-between;
    width: 800px;
    box-sizing: border-box;

}
#logo{
    display: flex;
    align-items: center;
}
#logo h3{
    margin-left: 10px;
}
#logo img {
    height: 64px;
    width: auto;
}

#pages a {
    text-decoration: none;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
}

.main {
    grid-area: main;
    /* background-color:#002447; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-around;
}
#main-cont{
    background-color: aliceblue;
    width: 600px;
    height: 200px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.cont1{
    font-family: fantasy;
    font-size:xx-large;
}
.cont2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.cont2 ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.cont1 img{
    height: 38px;
    width: 38px;
    float: right; 
    margin-right: 80px;
}
.cont2 ul li img{
    height: 38px;
    width: 38px;
    float: right;
    margin-right: 300px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
    width: 500px;
    max-height: auto;
    padding: 3%;
    gap: 10px;
    overflow-y:scroll; 
    
}
#options{
    max-height: 300px;
    overflow : scroll;
}

/* #selected-items {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    overflow-y: auto; 
    max-height: none; 
    padding: 10px;
} */

form label,b{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
form img{
    height: 30px;
    width: 30px;
}
form button{
    background-color:#24A0ED;
    color: white;
    height: 50px;
    width: 70px;
}
#input{
    width: 450px;
    height: 25px;
}
#result{
    background-color: aliceblue;
    width: 100px;
}

.footer {
    grid-area: footer;
    background-color:#080402;
}
#feedback{
    height: 15px;
    width: fit-content;
    background-color: red;
    padding: 1.25%;
}
#feedback a{
    text-decoration: none;
    color: aliceblue;
}